.td-block-span1 { /* 1/12 - used when the block is on td-3-col */
  width: 8.33333333%;
}
.td-block-span2 { /* 2/12 - used when the block is on td-3-col */
  width: 16.66666667%;
}
.td-block-span3 { /* 1/4 - used when the block is on td-3-col */
  width: 25%;   
}
.td-block-span4 { /* 1/3 - used when the block is on td-3-col */
  width: 33.33333333%; 
}
.td-block-span5 {  /* half - used when the block is on td-2-col */
  width: 41.66666667%;  
}
.td-block-span6 {  /* half - used when the block is on td-2-col */
  width: 50%;
}
.td-block-span7 {  /* half - used when the block is on td-2-col */
  width: 58.33333333%;
}
.td-block-span8 {  /* half - used when the block is on td-2-col */
  width: 66.66666667%; 
}
.td-block-span9 {  /* half - used when the block is on td-2-col */
  width: 75%;
}
.td-block-span10 {  /* half - used when the block is on td-2-col */
  width: 83.33333333%;
}
.td-block-span11 {  /* half - used when the block is on td-2-col */
  width: 91.66666667%;
}
.td-block-span12 {  /* half - used when the block is on td-2-col */
  width: 100%; 
}

.td_statistic_matches{
	padding-bottom: 50px;
}
.td_statistic_matches .td-container{
      width: 1130px;
}
.football_matches{
    font-family: Roboto;
}
.name_block_item_sfm{
	border-bottom: 1px solid #009688;
	font-weight: bold;
	margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}
.name_block_item_sfm span:first-child{
  float: left;
}
.name_block_item_sfm .type_period_matches{
  float: right;
}
.type_period_matches a{
  font-size: 12px;
  font-weight: normal;
  color: #444;
  margin-left: 10px;
}
.football_matches img{
    width: 12px;
    height: auto;
    margin-right: 2px;
}

.td-pb-row [class*="td-pb-span"].item_block_matches{
  padding-left: 15px;
  padding-right: 15px;
}

.no_matches{
      display: block;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #ccc;
    margin: 40px 0;
}
.team_1{
  width: 40%;
  display: inline-block;
}
.name_block_item_sfm_main span:first-child{
  display: inline-block;
  width: 100%;
}
.name_block_item_sfm_main .type_period_matches {
  float: left;
  text-align: left;
}
.name_block_item_sfm_main .type_period_matches a{
  margin: auto;
  margin-right: 15px;
}

/*Стилизация меню подкатегорий*/
.td-category-siblings .td-category{
  height: auto;
}
.td_category_template_3 .td-category-siblings{
    /*border-bottom: 1px solid #009688;*/
    display: block;
    width: 100%;
    display: inline-block;
}
.td-category-header .td-category-pulldown-filter{
  right: -15px;
}
.td-category-header .entry-category a{
    font-family: 'Roboto',sans-serif;
   /* font-size: 13px;*/
    font-size: 12px;
    color: #777!important;
    line-height: 1;
    background: none;
    border: 1px solid #ccc;
}
.td-category-header .entry-category a.td-current-sub-category{
  color: #fff!important;
  background-color: #009688;
}
.td-category-header .entry-category a.td-current-sub-category:hover{
  color: #fff!important;
}
.td-category-header .entry-category a:hover{
   color: #fff!important;
    background-color: #009688;
}
.td_category_template_3 .td-category-pulldown-filter {
    top: 93px;
    display: inline-block;
    z-index: 100;
}
.td-category-header .td-pulldown-filter-display-option{
   font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777!important;
    line-height: 1;
    background: none;
}
.td-category-header .td-pulldown-filter-list{
    list-style: none;
    position: absolute;
    right: 0;
    top: 22px;
    padding: 6px 0 8px 0;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    z-index: 999;
    border-width: 0 1px 1px 1px;
    border-color: #ededed;
    border-style: solid;
    margin: auto;
    display: none;
}
.td-category-header .td-pulldown-filter-list a{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    white-space: nowrap;
    display: block;
    line-height: 26px;
    padding-left: 21px;
    padding-right: 15px;
}
/**Категория Обзор прогнозы ключевых матчей недели **/
.td-category-header .td-page-title.title_obzor_matchey{
  margin-top: 35px;
}
.obzor_categoli_list{
	display: inline-block;
	width: 100%;
}
.obzor_categoli_item{
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
.obzor_categoli_item.hidden{
	display: none;
}
.title_obzor_categoli_item{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #009688;
	margin-bottom: 25px;
  padding-bottom: 5px;
}
.title_obzor_categoli_item img{
	height: 60px;
	float: left;
}
.title_obzor_categoli_item span {
   /* float: right;*/
    font-size: 20px;
    color: #222;
    font-family: Roboto;
    font-weight: 500;
    margin-top: 21px;
}
.td_module_mx4 .entry-title{
  font-size: 18px;
}
.td_module_8 .entry-title{
  font-size: 15px;
}
.obzor_categoli_list .td-block-span4 .td-module-title a ,
.obzor_categoli_list .td_module_8 .td-module-title a{
  color: #222;
}
.obzor_categoli_list .td-block-span4 .td-module-title a:hover ,
.obzor_categoli_list .td_module_8 .td-module-title a:hover
{
  color: #009688;
}

.ajax_load_more{
	background: #009688;
  color: #fff;
  margin: auto;
  display: block;
  //max-width: 450px;
  text-align: center;
  padding: 15px 0;
      background-color: #1e73be;
    background-image: -webkit-linear-gradient(left, #1e73be 0%, #33cbba 50%,#1e73be 100%);
    background-image: linear-gradient(to right, #1e73be 0%, #33cbba 50%,#1e73be 100%);
    -webkit-transition: all .2s ease-in-out;
}
.ajax_load_more:hover{
      color: #ffffff;
    background-color: #33cbba;
    border: none;
    background-position: 100% 0;
}

/**Матчи в категориях**/
.item_result_match {
  font-size: 12px;
  display: inline-block;  
  width: 100%;  
}
.obzor_categoli_item .td_module_8{
  margin-bottom: 5px;
  padding-bottom: 5px;  
}

.item_result_match .result {
    display: inline-block;
    width: 30px;
    text-align: center;
    position: relative;
    line-height: 1.5;
    float: none;
}
.item_result_match .team_1 {
    float: left;
    width: 40%;
    text-align: right;
    margin-right: 5px;
}
.item_result_match .play_date {
    float: left;
    font-weight: bold;
}

@media (max-width:991px){
  .td-block-row [class*="td-block-span"]{
    width: 100%;
  }
  .td_module_mx4 .td-module-image{
    width: 130px;
  }
  .td_module_mx4 .entry-title{
    padding-left: 145px;
  }
  .obzor_categoli_item .td_module_8{
    margin-bottom: 15px;
    padding-bottom: 0;
  }
  .obzor_categoli_item .td_module_8 .entry-title{
    font-size: 14px;
    line-height: 1.2;
  }
}

