.panel_lk_recall .form-tab-rcl {
	width: 700px;
	background: #f2f2f2;
}

.social-links {
	width: 40%;
	text-align: center;
}

.login-form, .register-form {
	width: 59%;
	border-left: 1px solid #ccc;
}


.rcl-field-input input[type="checkbox"]:checked + label.block-label::before {
	font-size: 9px;
}

.form-tab-rcl > div {
	display: inline-block;
	vertical-align: top;
}

.login-form {
	padding-right: 35px;
	padding-left: 35px;
	background: #fff;
}

.login-form h2, .register-form h2 {
	text-align: center;
}

.new-to-wrap {
	text-align: center;
}

div.panel_lk_recall .form-block-rcl.new-to-wrap a {
	font-size: 14px;
	color: #009688;
	display: inline-block;
	padding: 0;
}

.ulogin_label, .ulogin_panel {
	float: none;
}

.ulogin_block {
	text-align: center;
}

.rcl-field-input label.block-label::before {
	width: 10px;
	height: 10px;
}

.block-label {
	font-size: 13px;
}

.panel_lk_recall.floatform {
	left: 40%;
}

#rcl-overlay {
	z-index: 9999;
}

.login-form form {
	margin-bottom: 40px;
}

#uLogin, #uLogin1 {
	margin-top: 25px;
}

#uLogin a, #uLogin1 a{
	color: #fff;
}

#uLogin .sign_in-button, #uLogin .sign_in-button:visited, #uLogin1 .sign_in-button, #uLogin1 .sign_in-button:visited {
	display: inline-block;
	padding: 0.5rem;
	color: white;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	transition: all 250ms;
	opacity: 1 !important;
  	width: 85%;
	margin: 0 auto;
	margin-top: 12px;
}

#uLogin .sign_in-button:first-child, #uLogin1 .sign_in-button:first-child {
	margin-top: 0px;
}

.login-form span.new-to-site {
	font-size: 13px;
}

.social-links h3 {
	font-size: 17px;
	margin-top: 34px;
}

.sign_in-button.facebook {
  background-color: #469;
}
.sign_in-button.facebook:hover, .sign_in-button.facebook:hover {
  background-color: #5276ab;
}
.sign_in-button.facebook:active {
  background-color: #8fa8cd;
}

.sign_in-button.vk {
  background-color: #4a76a8;
}
.sign_in-button.vk:hover, .sign_in-button.vk:hover {
  background-color: #6185b9;
}
.sign_in-button.vk:active {
  background-color: #6185b9;
}

.sign_in-button.google {
  background-color: #d43;
}
.sign_in-button.google:hover, .sign_in-button.google:hover {
  background-color: #e07e73;
}
.sign_in-button.google:active {
  background-color: #e07e73;
}

#register-form-rcl .form-block-rcl.default-field .fa {
	top: 17px;
}

.register-form {
	background: #fff;
}

#register-form-rcl .form_extend {
	display: flex;
	flex-wrap: wrap;
}

#register-form-rcl .form_extend > div {
	width: 48%;
}

#register-form-rcl .form_extend .default-field:first-child{
	margin-right: 10px;
}

#register-form-rcl .ulogin_block {
	display: none;
}

#register-form-rcl .panel_lk_recall .form-tab-rcl input[type="submit"] {
	font-size: 13px;
	width: 50%;
}

#register-form-rcl .form_extend {
	margin: 0 18px -4px;
}

#register-form-rcl .register-button-wrapper {
	margin-top: 24px;
}

#register-form-rcl form {
	margin-bottom: 39px;
}

#register-form-rcl .type-checkbox-input {
	margin-left: 5px;
}


.link-remember-rcl {
	position: absolute;
	top: -10px;
	right: 0px;
}

.td-header-wrap {
	padding-top: 41px;
}

.td-header-top-menu-full {
	position: fixed;
    top: 0;
}

.panel_lk_recall.floatform .close-popup {
   display: inline-block;
   color: #fff;
   font-size: 25px;
   text-align: right;
   position: absolute;
   top: 99px;
   right: -20px;
}

.panel_lk_recall {
	max-width: 700px;
}

.panel_lk_recall .form-tab-rcl {
	margin: 130px auto;
}

.panel_lk_recall.floatform .close-popup .fa:hover {
	color: rgb(0, 150, 136);
}

.td-header-top-menu .td-logo {
    display: inline-block;
    max-width: 102px;
    display: none;
    padding-top: 3px;
}
.td-header-top-menu.floating .td-logo{
	display: inline-block;
}

.tabs-wrapper {
	width: 160px;
}

#rcl-avatar {
	height: auto;
}

.vertical-menu #lk-menu {
	float: none;
	width: 100%;
}

#rcl-tabs {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rcl-content {
    width: calc(100% - 175px);
}

.td-header-wrap {
	z-index: 9;
}

.cab_bttn_lite {
	 position: relative;
    bottom: 0px;
    right: 0px;
       padding-top: 7px;
}

.cab_center {
    background: rgba(0, 0, 0, 0.45);
    padding: 5px 15px;
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
}

.cab_footer {
	display: inline-block;
	vertical-align: bottom;
} 

.vertical-menu #lk-menu a {
	position: relative;
}

.vertical-menu #lk-menu a::before {
	    content: "\f0da";
	        font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    right: 5px;
	    top: 8px;
	    color: #fff; 
}

.vertical-menu #lk-menu a.active::before {
	color: #000;
}

.profile-submenu {
	font-size: 13px;
}

.profile-submenu .avatar {
	width: 28px;
	/*border-radius: 50%;*/
}



@media screen and (max-width: 1199px) {
	.panel_lk_recall.floatform {
	    left: 30%;
	}
}


@media screen and (max-width: 991px) {
	.panel_lk_recall.floatform {
	    left: 26%;
	}
}

@media screen and (max-width: 767px) {
	.td-header-wrap {
		padding-top: 0px;
	}
	.panel_lk_recall {
		width: 100%;
		max-width: calc(100% - 30px);
	}

	.panel_lk_recall .form-tab-rcl {
		width: 100%;
	}

	.panel_lk_recall.floatform {
	    left: 15px;
	    margin-left: 0px;
	}
}

@media screen and (max-width: 480px) {
	.login-form {
		padding-left: 15px;
		padding-right: 15px;
	}
	.social-links {
		width: 100%;
	}

	.login-form, .register-form {
		width: 100%;
		margin-top: 20px;
	}

	#register-form-rcl .form_extend {
	    display: block;
	}

	#register-form-rcl .form_extend .default-field:first-child {
		margin-right: 0px;
	}
}
