.bk_item_coment{
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.avatar{
	  background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    display: inline-block;
    width: 50px;
    position: relative;
    margin-bottom: 5px;
}
.avatar[data-initials]::after {
    color: #fff;
    content: attr(data-initials);
    font: 21px Roboto;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.name_bk_item_coment{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.1;
  color: #009688;
  font-weight: bold;
}
.left_bk_item_coment{
	float: left;
	display: inline-block;
	width: 18%;
	text-align: center;
}
.right_bk_item_coment{
	display: inline-block;
	width: 80%;
	float: right;
	font-size: 13px;
    min-height: 135px;
    position: relative;
}

.all_reiting{
	display: inline-block;
	width: 100%;
	text-align: center;

}
.all_reiting .stars{
	display: inline-block;

}
.star_rat{
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
  text-indent: -9999px;
  text-decoration: none!important;
  background-image: url(icons.png);
  background-size: 260px 160px;
  margin: 0 3px;
    float: left;
}
.star_rat.star ,  .star-hover{
	background-position: -16px -16px;
}
.star_rat.star_half{
	background-position: -32px -16px;
}
.star_rat.star_empty , .star-empty{
  background-position: -48px -16px;
}
.all_reiting span{
	display: inline-block;
	width: 100px;
	text-align: center;
	font-size: 13px;
}
.text_bk_item_coment{
	display: block;
	margin-bottom: 25px;
	line-height: 1.5;
}
.date_posting{
	  display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #555;
    position: absolute;
    bottom: 0;
    right: 0;
}
.wpb_text_column p.wpsm-show{
  margin-bottom: 25px;
  margin-top: 20px;
}


.item_rating_reviews .stars , .item_rating_reviews a , .rating_final_result , .result_rating{
  float: right;
  line-height: 1.2;
}
.result_rating{
  min-width: 45px;
  text-align: right;
}

.review_block{
  margin-bottom: 35px;
}
.review_block .top_block_review {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.top_block_review .average_stats{
  margin-top: 5px;
}
.top_block_review .average{
  float: left;
}
.top_block_review .rating{
    float: left;
    line-height: 1;
    margin-top: 4px;
    margin-left: 5px;
}
.top_block_review .rating .stars{
  float: left;
}
.top_block_review .rating .rating_int{
  float: right;
  /* margin-left: 5px; */
  line-height: 1.3;
  display: inline-block;
}
.top_block_review .rating .rating_int .rating_all_count{}
.top_block_review .review_btn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #009688;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-weight: 500;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    display: inline-block;
    line-height: 1;
    text-align: center;
    float: right;
}
.top_block_review .review_btn:hover{
  text-decoration: none;
  background: #000;
}
.top_block_review .full_view_rating{
    margin-top: 25px;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.top_block_review .item_rating_reviews > span{
  font-size: 14px;
}
.top_block_review .item_rating_reviews .stars, 
.top_block_review .rating_final_result, .result_rating{
  margin-top: 5px;
}
.top_block_review .show_more_rating{
  font-size: 14px;
  line-height: 34px;
  color: #000;
  border-bottom: 1px dashed #000;
}
.top_block_review .show_more_rating:hover{
  text-decoration: none;
  border: none;
  color: #009688;
}
.block_title_form{
  font-size: 20px;
  margin-bottom: 10px;
}
.counter-info-row {
  font-size: 12px;
}
.feedbacks_form{
    border: 2px solid #009688;
    padding: 20px;
    border-radius: 5px;
}
.feedbacks_form textarea{
  font-size: 13px;
}
.feedbacks_form .bottom_form , .hr_row{
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: inline-block;
      margin-bottom: 5px;
}
.feedbacks-button{
    float: right;
    width: 200px;
    height: 35px;
    color: #fff;
    border: 0;
    background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
}
.feedbacks-button:hover{
      color: #fff;
    background-color: #1e73be;
    border: 0;
    background-position: 100% 0;
}
.feedbacks-button[disabled]{
  background: #ccc;
}



/**/
#feedbacks-popup {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
#feedbacks-popup.active {
    display: block;
}
#feedbacks-popup .feedbacks-popup {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 590px;
}
#feedbacks-popup .feedbacks-popup-title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    -webkit-transition: all .2s ease-in-out;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 50px;
    font: 18px/1.5 "Roboto";
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
}
#feedbacks-popup .feedbacks-popup-title::before {
    content: attr(data-success-title);
}
#feedbacks-popup[data-type="error"] .feedbacks-popup-title::before {
  content: attr(data-error-title);
}
#feedbacks-popup .feedbacks-popup-close {
    color: #fff;
    cursor: pointer;
}
#feedbacks-popup .feedbacks-popup-content {
    display: block;
    padding: 20px;
    font-family: 'Roboto';
}

/**/
.show_average_rating_bk{}
.show_average_rating_bk .result_rating{
  margin-top: 1px;
} 

/**/
#table_main_khar{}
.bk_desc_overall_rating{}
.bk_desc_overall_rating .stars{
  display: inline-block;
  margin-top: 2px;
}
.bk_desc_overall_rating .count_rating{
  font-size: 16px;
}