/***Клубы***/
/***********Состав*/
.table_sostav img{
	width: 60px;
	display: block;
}
.table_sostav_prev img{
	width: 45px;
}
.table_sostav_prev .img_player{
	width: 60px;
}
table.table_sostav th{
	font-size: 12px;
	text-align: center;
}
.table_sostav .number_club,
.table_sostav .age,
.table_sostav .growth,
.table_sostav .weight,
.table_sostav .amplua{
	text-align: center;
}
.table_sostav .number_club{
	width: 50px;
}
.table_sostav .national_team{
    width: 133px;
    text-align: left;
    padding: 2px 5px;
}
.table_sostav .age{
	width: 50px;
}
.table_sostav .growth{
	width: 70px;
}
.table_sostav .weight{
	width: 80px;
}
.table_sostav .amplua{
	width: 120px;
}
.table_sostav_prev .amplua{
	width: 200px;
}
.table_sostav .img_player{
    width: 60px;
    background: #fff;
}
.table_sostav .national_team i{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

/***********Расписание матчей*/
.table_schedule_of_matches_club{
	text-align: center;
}
table.table_schedule_of_matches_club th ,
table.table_statistic_club th 
{
	text-align: center;
}
.table_schedule_of_matches_club .ft_1{text-align: right;}
.table_schedule_of_matches_club .ft_2{text-align: left;}

.table_schedule_of_matches_club  th{font-size: 12px;}
.table_schedule_of_matches_club td{font-size: 12px;}
/***********Иформация  Игрока*/
.description_players_statistic_club{
	font-size: 12px;
}

/***********Статистика Игрока*/
.table_statistic_player_club {
	text-align: center;
	margin-top: 50px;
}
.table_statistic_club .number_player{
	width: 80px;
}
.table_statistic_club .player{
	text-align: left;
}
.table_main_club_statistic{

}

/**Рейтинг УЕФА**/

.logo_club{
	width: 16px;
	height: auto;
	float: left;
	margin-right: 5px;
}


/*****  КРАТКАЯ КАРТОЧКА ****/
.item_short_stat_club{
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}
.show_more_s{
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}
.wpb_text_column  h2.block_title{
  font-size: 18px;
  text-align: left;
  line-height: 1;
  margin-top: 0;
  border-bottom: 2px solid #009688;
  text-transform: unset;
  font-weight: 500;
}
.hide{
	display: none !important;
}

/****  Трансферы  ***/
.item_transfers{
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	position: relative;
}
.title_transfer_block{
	text-align: center;
}

.item_transfers .title_transfer_block{
	text-align: left;
	border-bottom: 2px solid #009688;
}
.item_transfers .title_transfer_table{
  position: absolute;
  right: 0;
  top: 5px;
}

@media (max-width:967px){
	.hide{
		display: table-cell!important;
	}
}