.flag_nt {
    background-image: url(flags-sprite.png);
    background-repeat: no-repeat; 
    display: inline-block;
    width: 16px;
    height: 12px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.flag_nt.flag_angliya {
    background-position: -113px -3px;
}
.flag_nt.flag_shotlandiya {
    background-position: -311px -219px;
}
.flag_nt.flag_slovakiya {
    background-position: -69px -183px;
}
.flag_nt.flag_sloveniya{
    background-position: -91px -183px;
}
.flag_nt.flag_litva{
    background-position: -157px -111px;
}
.flag_nt.flag_malta {
    background-position: -91px -129px;
}
.flag_nt.flag_franciya{
    background-position: -25px -219px;
}
.flag_nt.flag_shveciya{
    background-position: -289px -219px;
}
.flag_nt.flag_niderlandy {
    background-position: -47px -57px;
}
.flag_nt.flag_bolgariya {
    background-position: -157px -21px;
}
.flag_nt.flag_lyuksemburg{
    background-position: -201px -111px;
}
.flag_nt.flag_belarus {
    background-position: -69px -21px;
}
.flag_nt.flag_germaniya {
    background-position: -25px -57px;
}
.flag_nt.flag_severnaya_irlandiya {
    background-position: -245px -165px;
}
.flag_nt.flag_chehiya {
    background-position: -201px -219px;
}
.flag_nt.flag_norvegiya {
    background-position: -113px -147px;
}
.flag_nt.flag_azerbaydghan{
    background-position: -47px -3px;
}
.flag_nt.flag_san-marino {
    background-position: -179px -165px;
}
.flag_nt.flag_polsha {
    background-position: -311px -147px;
}
.flag_nt.flag_daniya {
    background-position: -113px -147px;
}
.flag_nt.flag_chernogoriya {
    background-position: -179px -219px;
}
.flag_nt.flag_rumyniya{
    background-position: -113px -165px;
}
.flag_nt.flag_armeniya {
    background-position: -245px -3px;
}
.flag_nt.flag_kazahstan {
    background-position: -311px -75px;
}
.flag_nt.flag_portugaliya {
    background-position: -3px -165px;
}
.flag_nt.flag_shveycariya {
    background-position: -267px -219px;
}
.flag_nt.flag_vengriya {
    background-position: -69px -39px;
}
.flag_nt.flag_farerskie_ostrova {
    background-position: -267px -201px;
}
.flag_nt.flag_latviya {
    background-position: -47px -111px;
}
.flag_nt.flag_andorra {
    background-position: -157px -3px;
}
.flag_nt.flag_islandiya {
    background-position: -201px -75px;
}
.flag_nt.flag_horvatiya{
    background-position: -113px -219px;
}
.flag_nt.flag_ukraina {
    background-position: -201px -201px;
}
.flag_nt.flag_turciya {
    background-position: -135px -201px;
}
.flag_nt.flag_finlyandiya {
    background-position: -3px -219px;
}
.flag_nt.flag_kosovo{
    background-position: -311px -237px;
}
.flag_nt.flag_belgiya {
    background-position: -113px -21px;
}
.flag_nt.flag_greciya {
    background-position: -157px -57px;
}
.flag_nt.flag_bosniya_i_gercegovina{
    background-position: -201px -21px;
}
.flag_nt.flag_estoniya {
    background-position: -91px -237px;
}
.flag_nt.flag_kipr {
    background-position: -113px -93px;
}
.flag_nt.flag_gibraltar {
    background-position: -267px -237px;
}
.flag_nt.flag_ispaniya{
    background-position: -223px -75px;
}
.flag_nt.flag_italiya {
    background-position: -245px -75px;
}
.flag_nt.flag_albaniya {
    background-position: -69px -3px;
}
.flag_nt.flag_izrail {
    background-position: -47px -75px;
}
.flag_nt.flag_makedoniya {
    background-position: -3px -129px;
}
.flag_nt.flag_lihtenshteyn {
    background-position: -179px -111px;
}
.flag_nt.flag_serbiya{
    background-position: -3px -183px;
}
.flag_nt.flag_irlandiya{
    background-position: -179px -75px;
}
.flag_nt.flag_uels{
    background-position: -245px -201px;
}
.flag_nt.flag_avstriya{
    background-position: -25px -3px;
}
.flag_nt.flag_gruziya{
    background-position: -179px -57px;
}
.flag_nt.flag_moldaviya {
    background-position: -201px -129px;
}
.flag_nt.flag_tunis{
    background-position: -91px -201px;
}
.flag_nt.flag_dr_kongo{
    background-position: -223px -57px;
}
.flag_nt.flag_liviya{
    background-position: -135px -111px;
}
.flag_nt.flag_gvineya{
    background-position: -289px -39px;
}
.flag_nt.flag_nigeriya{
    background-position: -25px -147px;
}
.flag_nt.flag_zambiya{
    background-position: -3px -75px;
}
.flag_nt.flag_kamerun{
    background-position: -25px -93px;
}
.flag_nt.flag_alghir {
    background-position: -91px -3px;
}
.flag_nt.flag_marokko{
    background-position: -113px -129px;
}
.flag_nt.flag_kot-divuar {
    background-position: -267px -93px;
}
.flag_nt.flag_gabon{
    background-position: -135px -39px;
}
.flag_nt.flag_mali{
    background-position: -69px -129px;
}
.flag_nt.flag_senegal{
    background-position: -289px -165px;
}
.flag_nt.flag_burkina-faso{
    background-position: -289px -21px;
}
.flag_nt.flag_yuar{
    background-position: -135px -237px;
}
.flag_nt.flag_kabo-verde{
    background-position: -289px -75px;
}
.flag_nt.flag_egipet{
    background-position: -289px -57px;
}
.flag_nt.flag_uganda{
    background-position: -157px -201px;
}
.flag_nt.flag_gana{
    background-position: -223px -39px;
}
.flag_nt.flag_kongo {
    background-position: -223px -93px;
}
.flag_nt.flag_braziliya{
    background-position: -245px -21px;
}
.flag_nt.flag_urugvay{
    background-position: -223px -201px;
}
.flag_nt.flag_argentina{
    background-position: -223px -3px;
}
.flag_nt.flag_kolumbiya{
    background-position: -179px -93px;
}
.flag_nt.flag_peru{
    background-position: -289px -147px;
}
.flag_nt.flag_chili{
    background-position: -245px -219px;
}
.flag_nt.flag_paragvay{
    background-position: -267px -147px;
}
.flag_nt.flag_ekvador{
    background-position: -25px -237px;
}
.flag_nt.flag_boliviya{
    background-position: -179px -21px;
}
.flag_nt.flag_venesuela{
    background-position: -91px -39px;
}
.flag_nt.flag_meksika{
    background-position: -157px -129px;
}
.flag_nt.flag_gonduras{
    background-position: -69px -57px;
}
.flag_nt.flag_kanada{
    background-position: -47px -93px;
}
.flag_nt.flag_salvador{
    background-position: -135px -165px;
}
.flag_nt.flag_kosta-rika{
    background-position: -245px -93px;
}
.flag_nt.flag_panama{
    background-position: -223px -147px;
}
.flag_nt.flag_yamayka{
    background-position: -201px -237px;
}
.flag_nt.flag_gaiti{
    background-position: -157px -39px;
}
.flag_nt.flag_ssha{
    background-position: -223px -183px;
}
.flag_nt.flag_trinidad_i_tobago{
    background-position: -69px -201px;
}
.flag_nt.flag_gvatemala {
    background-position: -267px -39px;
}
.flag_nt.flag_sent-vinsent_i_grenadiny{
    background-position: -311px -165px;
}
.flag_nt.flag_papua_-_novaya_gvineya{
    background-position: -245px -147px;
}
.flag_nt.flag_taiti{
    background-position: -69px -219px;
}
.flag_nt.flag_solomonovy_ostrova {
    background-position: -201px -273px;
}
.flag_nt.flag_fidghi{
    background-position: -289px -201px;
}
.flag_nt.flag_novaya_kaledoniya{
    background-position: -91px -147px;
}
.flag_nt.flag_novaya_zelandiya {
    background-position: -69px -147px;
}
.flag_nt.flag_vanuatu{
    background-position: -25px -39px;
}
.flag_nt.flag_samoa{
    background-position: -157px -165px;
}
.flag_nt.flag_tonga{
    background-position: -47px -201px;
}
.flag_nt.flag_ostrova_kuka{
    background-position: -113px -273px;
}
.flag_nt.flag_amerikanskoe_samoa{
    background-position: -69px -255px;
}
.flag_nt.flag_rossiya{
    background-position: -69px -165px;
}
.flag_nt.flag_saudovskaya_araviya{
    background-position: -201px -165px;
}
.flag_nt.flag_oae{
    background-position: -135px -147px;
}
.flag_nt.flag_palestina{
    background-position: -201px -147px;
}
.flag_nt.flag_malayziya{
    background-position: -47px -129px;
}
.flag_nt.flag_vostochnyy_timor{
    background-position: -157px -255px;
}
.flag_nt.flag_avstraliya{
    background-position: -3px -3px;
}
.flag_nt.flag_iordaniya{
    background-position: -113px -75px;
}
.flag_nt.flag_kirgiziya{
    background-position: -3px -111px;
}
.flag_nt.flag_tadghikistan{
    background-position: -267px -183px;
}
.flag_nt.flag_bangladesh{
    background-position: -3px -21px;
}
.flag_nt.flag_katar{
    background-position: -69px -93px;
}
.flag_nt.flag_kitay{
    background-position: -135px -93px;
}
.flag_nt.flag_gonkong {
    background-position: -91px -57px;
}
.flag_nt.flag_maldivy{
    background-position: -311px -255px;
}
.flag_nt.flag_butan {
    background-position: -3px -39px;
}
.flag_nt.flag_iran{
    background-position: -157px -75px;
}
.flag_nt.flag_oman{
    background-position: -157px -147px;
}
.flag_nt.flag_turkmenistan{
    background-position: -113px -201px;
}
.flag_nt.flag_guam{
    background-position: -179px -255px;
}
.flag_nt.flag_indiya{
    background-position: -69px -75px;
}
.flag_nt.flag_yaponiya{
    background-position: -223px -237px;
}
.flag_nt.flag_siriya{
    background-position: -47px -183px;
}
.flag_nt.flag_singapur{
    background-position: -25px -183px;
}
.flag_nt.flag_afganistan{
    background-position: -289px -3px;
}
.flag_nt.flag_kambodgha{
    background-position: -3px -93px;
}
.flag_nt.flag_tailand {
    background-position: -289px -183px;
}
.flag_nt.flag_irak{
    background-position: -135px -75px;
}
.flag_nt.flag_vetnam{
    background-position: -113px -39px;
}
.flag_nt.flag_kitayskiy_taybey{
    background-position: -311px -183px;
}
.flag_nt.flag_indoneziya{
    background-position: -91px -75px;
}
.flag_nt.flag_yughnaya_koreya{
    background-position: -179px -237px;
}
.flag_nt.flag_livan{
    background-position: -113px -111px;
}
.flag_nt.flag_kuveyt{
    background-position: -311px -93px;
}
.flag_nt.flag_myanma{
    background-position: -267px -129px;
}
.flag_nt.flag_laos{
    background-position: -25px -111px;
}
.flag_nt.flag_uzbekistan{
    background-position: -179px -201px;
}
.flag_nt.flag_kndr{
    background-position: -157px -93px;
}
.flag_nt.flag_filippiny{
    background-position: -311px -201px;
}
.flag_nt.flag_bahreyn {
    background-position: -47px -21px;
}
.flag_nt.flag_yemen{
    background-position: -267px -75px;
}
.flag_nt.flag_mongoliya{
    background-position: -245px -129px;
}
.flag_nt.flag_makao{
    background-position: -311px -111px;
}
.flag_nt.flag_shri-lanka{
    background-position: -3px -237px;
}
.flag_nt.flag_bruney{
    background-position: -267px -21px;
}
.flag_nt.flag_nepal{
    background-position: -311px -129px;
}
.flag_nt.flag_pakistan {
    background-position: -179px -147px;
}

.flag_nt.flag_komorskie_ostrova {
    background-position: -201px -93px;
}
.flag_nt.flag_lesoto {
    background-position: -69px -111px;
}
.flag_nt.flag_burundi {
    background-position: -311px -21px;
}
.flag_nt.flag_seyshely {
    background-position: -267px -165px;
}
.flag_nt.flag_tanzaniya {
    background-position: -3px -201px;
}
.flag_nt.flag_malavi {
    background-position: -25px -129px;
}
.flag_nt.flag_mavrikiy {
   background-position: -223px -111px;
}
.flag_nt.flag_keniya {
    background-position: -91px -93px;
}

.flag_nt.flag_yughnyy_sudan {
   background-position: -3px -255px;
}
.flag_nt.flag_mavritaniya {
   background-position: -245px -111px;
}
.flag_nt.flag_san-tome_i_prinsipi{
   background-position: -135px -273px;
}
.flag_nt.flag_efiopiya {
   background-position: -113px -237px;
}
.flag_nt.flag_liberiya {
    background-position: -91px -111px;
}
.flag_nt.flag_gvineya-bissau {
    background-position: -311px -39px;
}
.flag_nt.flag_somali {
    background-position: -113px -183px;
}
.flag_nt.flag_niger {
    background-position: -25px -147px;
}
.flag_nt.flag_dghibuti {
    background-position: -201px -255px;
}
.flag_nt.flag_svazilend {
    background-position: -223px -165px;
}
.flag_nt.flag_gambiya {
    background-position: -201px -39px;
}
.flag_nt.flag_namibiya {
    background-position: -289px -129px;
}
.flag_nt.flag_car {
    background-position: -135px -219px;
}
.flag_nt.flag_madagaskar {
    background-position: -267px -111px;
}
.flag_nt.flag_eritreya {
    background-position: -69px -237px;
}
.flag_nt.flag_botsvana {
    background-position: -223px -21px;
}
.flag_nt.flag_chad {
    background-position: -157px -219px;
}
.flag_nt.flag_serra-leone {
    background-position: -245px -183px;
}

.flag_nt.flag_mozambik {
    background-position: -179px -129px;
}
.flag_nt.flag_sudan {
    background-position: -3px -255px
}
.flag_nt.flag_benin {
    background-position: -135px -21px
}
.flag_nt.flag_togo {
    background-position: -25px -201px;
}
.flag_nt.flag_ekvatorialnaya_gvineya {
    background-position: -47px -237px;
}
.flag_nt.flag_ruanda {
    background-position: -91px -165px;
}
.flag_nt.flag_angola {
    background-position: -135px -3px;
}

.flag_nt.flag_barbados {
    background-position: -25px -21px;
}
.flag_nt.flag_amerikanskie_virginskie_ostrova {
    background-position: -47px -255px;
}
.flag_nt.flag_sent-kits_i_nevis {
    background-position: -157px -273px;
}
.flag_nt.flag_terks_i_kaykos {
    background-position: -25px -255px;
}
.flag_nt.flag_nikaragua {
    background-position: -47px -147px;
}
.flag_nt.flag_angilya {
    background-position: -91px -255px;
}
.flag_nt.flag_bagamskie_ostrova {
    background-position: -135px -3px;
}
.flag_nt.flag_bermudskie_ostrova {
        background-position: -245px -237px;
}
.flag_nt.flag_beliz {
        background-position: -91px -21px;
}
.flag_nt.flag_kaymanovy_ostrova {
    background-position: -223px -255px;
}
.flag_nt.flag_britanskie_virginskie_ostrova {
    background-position: -267px -273px;
}
.flag_nt.flag_dominika {
    background-position: -289px -237px;
}
.flag_nt.flag_kyurasao {
    background-position: -289px -255px;
}
.flag_nt.flag_montserrat {
    background-position: -47px -273px;
}
.flag_nt.flag_surinam {
    background-position: -201px -183px;
}
.flag_nt.flag_gayana {
    background-position: -179px -39px;
}
.flag_nt.flag_antigua_i_barbuda {
    background-position: -179px -3px;
}
.flag_nt.flag_sent-lyusiya {
    background-position: -179px -273px;
}
.flag_nt.flag_kuba {
    background-position: -289px -93px;
}
.flag_nt.flag_aruba {
    background-position: -267px -3px;
}
.flag_nt.flag_dominikanskaya_respublika {
    background-position: -245px -57px;
}
.flag_nt.flag_puerto-riko {
    background-position: -25px -165px;
}
.flag_nt.flag_grenada {
    background-position: -113px -57px;
}
.flag_nt.flag_avstraliya {
    background-position: -3px -3px;
}
.flag_nt.flag_montserrat {
    background-position: -47px -273px;
}
.flag_nt.flag_montserrat {
    background-position: -47px -273px;
}
