/*Смена Шапки*/
.td-header-main-menu{
	padding-right: 0;
}
.td-header-style-5 .td-main-menu-logo{
	height: auto!important;
	min-height: 45px!important;
}
#td-top-search {
    position: absolute;
    right: -24px;
    top: 50%;
    margin-top: -27px;
}
body a{
	color: #000;
	    font-family: 'Roboto',sans-serif;
}
body{
	font-family: 'Roboto',sans-serif!important;
}
body a:hover{
	color: #009688;
}
div.td-excerpt{
	color: #000;
}
/*Смена Шапки*/
/*Тренды*/
.trend_list_home{
	display: inline-block;
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 10px;
	margin: 0; 
	//box-shadow: 0px -3px 15px 0px rgba(0,0,0,.26);
}
.trend_list_home li{
	display: inline-block;
	list-style: none;
	    margin-right: 40px;
}
.trend_name{
    background: red;
    color: #fff;
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
.trend_list_home li a{
    color: #000;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}
.trend_list_home li a:hover{
	color: #009688;
	text-decoration: none;
}
/*Тренды*/

/*.top_matches_list{
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #fff;
  margin-top: 20px;
      border: 1px solid #eaeaea;

}*/
.top_matches_list{
	    position: absolute;
    top: 0px;
    left: -24px;
    width: calc(100% + 48px);
    background: #ffff;
    z-index: 100;
}
.top_matches_list.fixed{
	position: fixed;
    max-width: 1164px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1000;
}
/*.item_top_match{
display: inline-block;
    border-left: 1px solid #ccc;
    padding: 0px 10px;
    font-size: 11px;
    width: 25%;
    margin: auto;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.26);
}*/
.item_top_match{display: inline-block;
    border-left: 1px solid #ccc;
    padding: 0 35px;
    font-size: 11px;
    width: 25%;
    margin: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.box_top_match{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
}
.box_top_match span{
	display: block;
	line-height: 1.5;
}
.teams{
	float: left;
	text-align: left;
}
.data_play_match{
	float: right;
	text-align: right;
	    font-weight: 600;
}

.item_top_match:first-child{
	border: 0;
}
.item_top_match .result{
    display: inline-block;
    text-align: center;
    position: relative;
    line-height: 1.5;
    font-size: 10px;
    padding: 0 5px;
    background: #00796b;
    color: #fff;
}
.item_top_match>span{
	font-weight: bold;
}
.item_result_match_date{
	text-align: center;
}
.result_matches_home .block-title{
	text-align: left;
	    margin-bottom: 5px;
}
.item_result_match{
padding: 2px 0;
    border-bottom: 1px solid #ccc;
}
.item_result_match_teams{
	font-size: 12px;
}
.item_result_match .team_1{
    float: left;
    width: 40%;
    text-align: right;
    margin-right: 5px;
}
.item_result_match .team_2{

}
.item_result_match .result{
	display: inline-block;
    width: 30px;
    text-align: center;
    position: relative;
    line-height: 1.5;
}
.item_result_match .result_1{
	 //  background: #00796b;
   // color: #fff;
   font-weight: 900;
}

.td-header-menu-wrap-full{
  /*  height: 105px!important;*/
   /* padding: 10px 0;*/
}

.sidebar {
	padding: 0 !important;
  padding-right: 25px!important;
}
.play_date{
	float: left;
	font-weight: bold;
}
.item_result_match_2 .team_1{
	width: 35%
}
.td-header-wrap{
	    z-index: unset;
	position: inherit;
}
.td-header-menu-wrap-full{
	z-index: inherit;
}
.td-header-gradient:before{
	z-index: inherit;
}

/****Блок новостей на главной****/
#show_title_news_list{
    margin-bottom: 0;
    line-height: 1;
}
.nav_list_news_name{
    display: inline-block;
    width: 100%;
    margin-top: 0;
}
.nav_list_news_name li{
    list-style: none;
    display: inline-block;
    margin-right: 22px;
    float: left;
    line-height: 25px;
    position: relative;
}
.nav_list_news_name li a{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    line-height: 1;
}
.nav_list_news_name i {
    font-size: 9px;
    color: #777;
    margin-left: 5px;
    margin-right: 0px;
}
.nav_list_news_name a:hover{
    color: #009688;
    text-decoration: none;
}
.child_name_news_item{
    display: none;
}
.nav_list_news_name li.name_news_item ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 6px 0 8px 0;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    z-index: 999;
    border-width: 0 1px 1px 1px;
    border-color: #ededed;
    border-style: solid;
    display: none;
}
.nav_list_news_name li.name_news_item_parent{
    float: right;
    margin-right: 0;
}
.nav_list_news_name li.name_news_item ul  li a {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    white-space: nowrap;
    display: block;
    line-height: 26px;
    padding-left: 21px;
    padding-right: 15px;
}
.nav_list_news_name li.name_news_item ul  li a:hover{
    color: #009688;
    text-decoration: none; 
}
.nav_list_news_name li.name_news_item:hover ul{
    display: block;
}
.top_news_home .td_module_8{
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.top_news_home a{
    font-size: 13px;
}
#trends_tag{
    margin-bottom: 15px;
}
.top_single_news_home {
    margin-bottom: 20px;
}
.td_block_17.top_single_news_home .td_module_4{
    padding-bottom: 10px;
}
.top_single_news_home .block-title{
    margin-bottom: 15px;
}
#line_top_new_home {
    margin-bottom: 12px;
}

/** Блок топ игроки **/
.title_block_home{
    display: inline-block;
    width: 100%;
}
.title_block_home a{
    float: left;
    padding: 0;
    padding-bottom: 5px;
}
.title_block_home a:hover{
    text-decoration: none;
}
.title_block_home ul{
    float: right;
    margin: 0;
}
.title_block_home ul li {
    display: inline-block;
    list-style: none;
}
.title_block_home ul li a{
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    color: #777;
    line-height: 1;
    background: none;
    padding: 0 5px;
}
.players_list{
    display: inline-block;
    width: 100%;
}
.player_rating_item{
    display: inline-block;
    width: 20%;
    float: left;
    padding: 0 15px;
    margin-bottom: 15px;
}
.player_rating_item img{
    width: 100%;
    height: auto;
}
.title_player_rating_item span{
    display: inline-block;  
    width: 100%;
    text-align: center;
    color: #777;
}

.club_rating_item {
    margin-bottom: 25px;
}
.club_rating_item .td-module-thumb {
    display: inline-block;  
    width: 100%;
    text-align: center;
}
.club_rating_item .td-module-thumb a{
    display: inline-block;
}
.club_rating_item .td-module-thumb img{
    width: 110px;
    height: auto;
    margin: auto;
}
.player_rating_item .td_module_mx4 .entry-title ,
.club_rating_item .td_module_mx4 .entry-title{
    text-align: center;
}
.title_club_rating_item span{
    display: inline-block;
    width: 100%;
    font-size: 13px;
}
.title_club_rating_item span i{
    float: none;
}
.td_block_15 .td_module_mx4{position: relative;}
.title_player_rating_item a:hover , 
.title_player_rating_item span:hover ,
.title_block_home ul li a:hover ,
.title_club_rating_item a:hover
{
    color: #009688;
    text-decoration: none;
}
@media (max-width:990px){
    .top_matches_list{
        position: relative;
        left: inherit;
        width: 100%;
        margin-top: 10px;
    }
    .top_matches_list .item_top_match{
        width: 50%;
        padding: 10px;
        line-height: 1;
    }
    #vc_empty_space_moby{
        height: 0!important;
    }
    .trend_list_home li {
        width: 50%;
        float: left;
        margin: auto;
    }
    .trend_list_home li.trend_name{
        display: block;
        margin-right: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .trend_list_home li a{
        font-size: 12px;
    }
}