m_team_first.shild_page_list{margin: auto;}
.shild_page_list li{
    margin-bottom: 5px;
}
.shild_page_list li a.vc_general.vc_btn3{
    border-color: #666;
    border: 2px solid;
    color: #666;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
    padding: 10px 15px;
}
.shild_page_list li a.vc_general.vc_btn3:hover{
    color: #fff;
    background-color:  #666;
    border-color: #666;
}
.shild_page_list li a.vc_general.vc_btn3.active{
    color: #fff;
    border: 0;
    background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
}
.shild_page_list li a.vc_general.vc_btn3.active:hover{
    color: #fff;
    background-color: #1e73be;
    border: 0;
    background-position: 100% 0;
}
.main_content_page{ }
.main_content_page table td{
    font-size: 12px;
}
tr:nth-of-type(odd) {
    background: #eee;
}
.positiv_list ul{}
.positiv_list ul li , .negativ_list ul li{
    line-height: 22px;
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    list-style: none;
}
.positiv_list ul li:before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f055";
    display: inline-block;
    color: #009688;
    font-size: 22px;
    position: absolute;
    left: 0;
}
.negativ_list ul li:before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f056";
    display: inline-block;
    color: red;
    font-size: 22px;
    position: absolute;
    left: 0;
}
body.td-animation-stack-type0 .td-animation-stack .entry-thumb, body.td-animation-stack-type0 .post images{
    opacity: 1;
}
.wpb_animate_when_almost_visible{
    opacity: 1;
}
table th {
    text-align: left;
    border: 1px solid #ededed;
    padding: 2px 8px;
}
th {
    background: #00796b;
    color: white;
    font-weight: bold;
}
.social_links{
	display: inline-block;
	width: 100%;
}
.social_link {
    display: inline-block;
    padding: 15px 25px;
    color: #666;
    border-radius: 5px;
    line-height: 1;
    margin-right: 5px;
    font-size: 14px;
}
.social_link i{
	margin-right: 5px;
}
.social_link:hover{
  color: #5e5e5e;
  background-color: #f0f0f0;
}
.post_list{
  display: inline-block;
  width: 100%;
}
.post_item {
    float: left;
    width: 250px;
    margin: 0 8px;
}
.post_item .img_post{
  display: inline-block;
  width: 100%;
  position: relative;
}
.img_post img{
  width: 100%;
}
.post_item .name_post{

}
.main_content_page table.table_otbor_chm tr td:first-child{
  width:  auto;    text-align: left;
}
.img_sostav{

}
/*Футболисты*/
.opis_table{
 display: block;
 text-align: center;
 font-size: 12px;
 margin-top: 15px;
}
.main_content_page table.table_statistic_p{
  text-align: center;
}
.main_content_page table.table_statistic_p th {
    font-size: 12px;
}
.main_content_page table.table_statistic_p th.competition{
    width: 175px;
}
.main_content_page table.table_statistic_p .ft_1{
  text-align: right;
}
.main_content_page table.table_statistic_p .ft_2{
  text-align: left;
}
.main_content_page table.table_statistic_p td {
    font-size: 11px;
}

/*Футбольные Лиги (Клубы)*/
.list_clubs{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.item_club_liga{
    display: inline-block;
    width: 100%;
    max-width: 127px;
    vertical-align: top;
    margin: 15px;
    margin-top: 0;
    padding: 15px 0;}
.list_clubs_prev .item_club_liga{
    margin: 3px;
}
.item_club_liga img{
    height: 100px;
    margin-bottom: 5px;
    display: inline-block;
        -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.item_club_liga span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;

}
.item_club_liga a{
    color: #444;
}
.item_club_liga:hover{
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.26);
}
.item_club_liga:hover img{
        -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.result_matches{text-align: center;  }
.m_team_first {text-align: right;     /* width: 43%!important; */}
.m_team_first .logo_club{
    float: right;
    margin: auto;
    margin-left: 7px;}
.m_team_first .flag_nt{
  float: right;
  margin-left: 7px;
}
.team_second{
    width: 43% !important;
}



.last_matches{}

.lm_result{
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    width: 8px;
    cursor: pointer;

}
.lm_result:last-child{
    margin-bottom: 3px;
}
.lm_result._win{
    background-color: #7ca541;
}
.lm_result._lose{
    background-color: #d51d29;
}
.lm_result._draws{
    background-color: #f8c027;
}
.main_content_page table.turnirnaya-tablitsa tr td.last_matches{
    width: 100px!important;
}
/*Чемпионат Мира*/
.detal_info_wc .td{
    width: 40%;
}

.logo_club {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.position{
    position: relative;
}
.stan_pos{
   position: absolute;
   top: 50%;
   margin-top: -2px;
   right: 5px;
}
.foot_best_bombardir .flag_nt {
float: left;
margin-top: 5px;
margin-right: 5px;
}
.foot_best_bombardir th{font-size: 14px;}


/*Турниры*/
.row_table_in_g{
    width: 30%;
    float: left;
    margin: 0 17px;
    display: inline-block;
    padding-bottom: 15px;
}
.turnirnaya_tablitsa_in_g_full{
    margin-bottom: 25px;
}
.main_content_page table.turnirnaya_tablitsa_in_g tr td:first-child{
    width: auto;
}
.main_content_page .team_club{
    width: 400px;
}
.bottom_header_in_g{
    display: inline-block;
    width: 100%;
    /*border-bottom: 1px solid #009688;*/
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.bottom_header_in_g a{
        padding: 5px 10px;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
    line-height: 12px;
    border-radius: 5px;
    border: 1px solid #009688;
}
.bottom_header_in_g a:hover,
.bottom_header_in_g a.carent{
        background: #009688;
    color: #fff;
    text-decoration: none;
}
.match_in_g th{
    font-size: 12px;
}
.match_in_g .tour_comp{
width: 1%;
    text-align: center;
}
.main_content_page table.match_in_g td{
    font-size: 12px;
}
.no_matches{
    text-align: center;
    color: #ccc;
    font-size: 20px;
    margin-top: 15px;
}

/*Турнирная таблица*/
.table_tout_in_g{
    margin-bottom: 25px;
}
.match_playof {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.match_playof .club_teams{
    display: inline-block;
}
.match_playof .result_match{
    float: right;
}
.match_playof .club_teams span{
    display: inline-block;
}
.match_playof >div{
    display: inline-block;
}
.match_playof  .play_time{
    padding: 0 15px;
}
.match_playof .club_teams span:first-child{
    min-width: 200px;
}
.match_playof .club_teams span:last-child{
    margin-left: 15px;
}
.td_match_winner{
    width: 10%;
    font-size: 12px;
}
.main_content_page table.table_tout_in_g td{
    font-size: 11px;
}
.match_playof .result_match span{
       min-width: 20px;
       display: inline-block;

}
.club_teams span img{
    margin-bottom: 0;
}

.left_text{text-align: left;}
.right_text{text-align: right;}
.center_text{text-align: center;}
.main_content_page table tr td:first-child{
    width: auto!important;
}

.main_content_page table.table_tout_in_g_nt tr td:first-child{
  width: 80px!important;
}
table.table_tout_in_g_nt tr td.play_time{
  width: 50px;
}
.table_tout_in_g_nt th{
  text-align: left;
}
/* Страница Матч Центр */
.ff_match_center{}
.ff_match_center .mc_filter_caledar{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.mc_filter_caledar a{
    font-size: 36px;
    display: inline-block;
}
.mc_filter_caledar input{
    border: none;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    padding: 0;
    line-height: 36px;
    width: 250px;
    margin-right: -70px;
    position: relative;
    top: -7px;
}
.date_caL_link {
    display: inline-block;
    margin-top: 27px;
    font-size: 18px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    color: #444;
}
.mob_date_caL_link{
  display: none;
}
.prev_date_cal{float: right;}
.next_date_cal{float: left;}
.ff_match_center_list_comp_title{}
.ff_match_center .ff_match_center_list_comp_title span{
    text-transform: unset;
    font-weight: 400;
}
.ff_match_center_main{}
.ff_match_center_main_title{}
.ff_match_center_main_title ul{
    margin-top: 2px;
}
.ff_match_center_main_title ul li{
    display: inline-block;
}
.ff_match_center_main_title ul li .date_show_match{
    background: none;
    color: #222;
    padding: 0;
    padding-right: 15px;
}
.ff_match_center_main_title ul li a span{
    background: none;
    color: #222;
    padding: 0;
}
.ff_match_center_main_title ul li .date_show_match._selected{
    color: #00796b;
    font-weight: bold;
}
.ff_match_center_main_title ul li .date_show_match._selected span{
    color: #00796b;
    font-weight: bold;
}
.list_competition_mc{
     display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #009688;
    margin-bottom: 20px;

    position: relative;
    margin-top: -6px;
}
.ff_match_center_comp_list{
   display: inline-block;
   float: left;
   margin: auto;
}
.ff_match_center_comp_list .ff_li_parent{
    display: inline-block;
    margin: auto;
    margin-right: 9px;
    list-style: none;
    float: left;
    position: relative;
}
.ff_match_center_comp_list .ff_li_parent>a{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    line-height: 1;
}
.ff_ul_child ,
.td_subcat_list_more{
    list-style: none;
    position: absolute;
    left: 0;
    top: 99%;
    padding: 6px 0 8px 0;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    z-index: 999;
    border-width: 0 1px 1px 1px;
    border-color: #ededed;
    border-style: solid;
    display: none;
}
.td_subcat_list_more {
    margin: auto;
}
.ff_match_center_comp_list > li:last-child .ff_ul_child ,
.td_subcat_list_more
{
    left: inherit;
    right: 0;
}
.td_subcat_list_more{
    width: 450px;
}
.ff_ul_child li ,
.td_subcat_list_more li{
    list-style: none;
    display: inline-block;
    margin-right: 22px;
    float: left;
    line-height: 25px;
    position: relative;
}
.td_subcat_list_more li{
    width: 50%;
    float: left;
    text-align: left;
    margin: auto;
}
.ff_ul_child li a ,
.td_subcat_list_more li a{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    white-space: nowrap;
    display: block;
    line-height: 26px;
    padding-left: 21px;
    padding-right: 15px;
}
.list_competition_mc a:hover{
        color: #009688;
    text-decoration: none;
}
.ff_match_center_comp_list .ff_li_parent:hover .ff_ul_child ,
.td_subcat_more:hover .td_subcat_list_more{
    display: block;
}

.td_subcat_more{display: inline-block;float: right;}
.td_subcat_more>a{    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    color: #777;
    line-height: 18px;
    margin-top: 4px;
    display: block;}
.td_subcat_list_more{display: none; }
.no_matches_mc{
        text-align: center;
    font-size: 24px;
    color: #ccc;
    font-weight: bold;
}

.ff_title_list-matches{
    background: #00796b;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px 8px;
}
.ff_mc_table_matches{
    font-size: 12px;
    margin-bottom: 25px;
}
.ff_mc_play_time{
    width: 90px;
}
.ff_mc_team_1{
    text-align: right;
    width: 215px;
}
.ff_mc_team_1 img{
    float: right;
    margin-right: 0;
    margin-left: 5px;
}
.ff_mc_team_1 .flag_nt{
    float: right;
    margin-right: 0;
    margin-left: 7px;
}
.ff_mc_team_2{
    width: 215px;
}
.ff_mc_team_2 .flag_nt{
    margin-top: 7px;
}
.ff_mc_result_match{
    text-align: center;
    width: 60px;
}
.ff_mc_status{
    width: 90px;
}
.mc-tab-data{
    width: 100%;
    display: none;
}
.mc-tab-data._selected{
    display: inline-block;
}

.ff_mc_sidebar img{
    display: block;
    margin: auto;
    margin-bottom: 25px;
}




@media (max-width:991px){
    .row_table_in_g{
        width: 100%;
        margin-right: 0;
    }
    .main_content_page table tr td:first-child{
        width: auto!important;
    }
    .date_caL_link{
      display: none;
      float: none;
    }
    .mob_date_caL_link{
      display: inline-block;
      position: relative;
      z-index: 100;
      font-size: 16px;
      margin-top: 0;
    }
    .ff_match_center .mc_filter_caledar{
      display: inline-block;
      width: auto;
      margin: 0 25px;
          margin: 0 30px 0 10px;
    }
    .mc_filter_caledar a{
      font-size: 21px;
    }
    .mc_filter_caledar input{
      width: 110px;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      margin-top: 0px;
      float: right;
      top: inherit;
      text-align: center;
      display: inline-block;
      margin-right: -30px;
      position: relative;
      left: -10px;

    }
    .maneg_date_block{
      text-align: center;
      margin-bottom: 15px;
    }
    .ff_mc_table_matches .logo_club ,
    .ff_mc_table_matches .flag_nt {
      display: none;
    }
    .ff_mc_table_matches td{
      padding: 2px 3px;
      font-size: 11px;
      text-align: center;
    }
    .ff_mc_play_time{
      width: 50px;
    }
    .ff_mc_status{
      width: 110px;
    }
    .td_subcat_list_more{
      width: auto;
    }
    .td_subcat_list_more li{
      width: 100%;
    }
}
