table th {
    background: #00796b;
    color: white;
    font-weight: bold;
    text-align: center;
        padding: 5px 8px;
}
tr:nth-of-type(odd) {
    background: #eee;
}
.wc_team{
	text-align: left;
}
table td{
	text-align: left;
}

.opis_table {
    display: block;
    text-align: center;
    font-size: 12px;
}
.opis_table_home{
	margin-bottom: 50px;
}
.turnirnaya_tablitsa_wc_home .flag_nt{
	    display: inline-block;
    margin: 6px 0 0;
        margin-right: 5px;
    vertical-align: top;
}
.turnirnaya_tablitsa_wc_home tr.group th{
	    background: #fff;
    border: 0;
    color: #000;
    text-align: left;
}
.no_date {
    text-align: center;
    font-size: 18px;
    color: #ccc;
    padding: 5px 0;
}
/*Пагинация таблиц*/
.footable .pagination{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.footable .pagination ul {
    margin-top: 0;
    text-align: center;
}
.footable .pagination ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}
.footable .pagination ul li a{}

/******* SORTING TABLES *******/
th.header{
    cursor: pointer;
}
th.header .icon_sort{
    color: #fff;
    margin-left: 5px;
}
th.header .icon_sort:before{
    content: "\f0dc";
}
th.header.headerSortUp .icon_sort:before{
    content: "\f0dd";
}
th.header.headerSortDown .icon_sort:before{
    content: "\f0de";
}
/*Топ 100 клубов*/
.table_top_100_club{
    text-align: center;
    font-size: 12px;
}
table.table_top_100_club th 
{
    text-align: center;
}
table.table_top_100_club td{
    border: 1px solid #ededed;
    padding: 2px 8px;
}
.table_top_100_club .new_position{
    width: 35px;
    position: relative;
}
.table_top_100_club .top_club{
    text-align: left;
}
.table_top_100_club .top_club .logo_club{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 0;
}
.btn_more_go{
    float: right;
    background: #00796b;
    color: #fff;
    padding: 5px 20px;
    /* font-weight: bold; */
    line-height: 1;
    margin-top: 3px;
}
.btn_more_go:hover{
    background: #000;
    text-decoration: none!important;
}
.table_top_100_club .pagination {
    display: inline-block;
    width: 100%;
}
.table_top_100_club .pagination ul{
    margin: auto;
}
@media (min-width:1118px){
    .footable .footable-first-column{
      display: none!important;
    }
}