.turnirnaya_tablitsa_wc{}
.turnirnaya_tablitsa_wc .group th{
	    background: #fff;
    border: 0;
    color: #000;
    text-align: left;
}
.turnirnaya_tablitsa_wc td,
.turnirnaya_tablitsa_wc th,
.result_wc,
.result_wc th{ 
	text-align: center;
}
.turnirnaya_tablitsa_wc td.wc_team ,
.turnirnaya_tablitsa_wc th.wc_team,
.result_wc td.teams{
	text-align: left;
}
.turnirnaya_tablitsa_wc .flag_nt {
    display: inline-block;
    margin: 6px 0 0;
        margin-right: 5px;
    vertical-align: top;
}
.teams{}
.teams .team_1{
	text-align: right;
	display: inline-block;
    width: 40%;
}
.teams .team_2{}
.teams .result{
    display: inline-block;
    width: 40px;
    text-align: center;
    position: relative;
    line-height: 1.5;
}
.teams .result_1{
	    background: #00796b;
    color: #fff;
}
/*Турнирная таблица*/
.list_confediration{
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: auto;
}
.list_confediration li {
    list-style: none;
    display: inline-block;
}
.list_confediration li a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px!important;
}
.list_confediration li a:hover , 
.list_confediration li a.carent{
    text-decoration: none;
        color: #fff;
    border: 0;
    background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
}
.bottom_header_wc{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #009688;
    padding-top: 15px;
}
.bottom_header_wc_no_c{
    margin-top: 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #009688;
    padding-bottom: 15px;
}
.bottom_header_wc_group{
    padding-top: 15px;
}
.season_wc select{
        height: 25.1px;
    border: 1px solid #009688;
    text-align: center;
    margin-right: 34px;
}
.season_wc{
    display: inline-block;
    float: left;
}
.competition_type_wc{
    display: inline-block;
    float: left;
}
.competition_type_wc ul li {
    display: inline-block;
    list-style: none;
}
.competition_type_wc ul {
    margin: auto;
}
.competition_type_wc ul li a{
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 2px;
    display: inline-block;
    line-height: 12px;
    border-radius: 5px;
    border: 1px solid #009688;
}
.competition_type_wc ul li a:hover , 
.competition_type_wc ul li a.carent{
        background: #009688;
    color: #fff;
}
.turnirnaya_tablitsa_wc_main{
    margin-top: 25px;
}
.playoff_list{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
        font-family: Roboto;
}
.playoff_item{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.playoff_match_1 , .playoff_match_2{
    display: inline-block;
    width: 50% ;
    float: left;
}
.playoff_match{
    display: inline-block;
    float: left;
    min-width: 150px;
}
.playoff_match span{
    display: block;
    color: #666;
}
.playoff_item .flag_nt {
    display: inline-block;
    margin: 6px 0 0;
    margin-right: 5px;
    vertical-align: top;
}
.inform_match{
    display: inline-block;
    float: left;
    margin-left: 50px;
}
.result_match{
    text-align: center;
     color: #000;
         font-weight: 600;
}
.data_play_match{
    text-align: center;
    font-size: 12px;
}
.playoff_match .bold{
    font-weight: 600;
    color: #000;
}
.extra_time{
    font-size: 10px;
        margin-left: 2px;
}
.description_wc{
    margin-top: 25px;
}
.description_wc p{
    font-family: Roboto;
}
.description_wc ul{
    padding-left: 30px;
}
.no_date{
    text-align: center;
    font-size: 18px;
    color: #ccc;
    padding: 15px 0;
}