/********/
.modal_div{display: none;}
.compare_basket{
    display: none;
    width: 100%;
    padding: 10px 100px;
    z-index: 10;
    background-color: #1e73be;
    background-image: -webkit-linear-gradient(left, #1e73be 0%, #33cbba 50%,#1e73be 100%);
    background-image: linear-gradient(to right, #1e73be 0%, #33cbba 50%,#1e73be 100%);
    -webkit-transition: all .2s ease-in-out;
}
.compare_basket_active{
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0;
}
.wrapper{
    display: block;
    width: 100%;
    max-width: 1164px;
    margin: auto;
}
.action_compare{
    float: right;
    height: 40px;
    background: #009688;
    color: #fff;
    border: 0;
    padding: 0 20px;
    margin-left: 30px;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    text-transform: uppercase;
    line-height: 40px;
    cursor: default;
    opacity: 0.5;
}
.action_compare_act{
    cursor: pointer;
    opacity: 1;
}
.action_compare i{
    margin-right: 5px;
}
.action_compare:hover{
    color: #fff;
    background: #000;
}
.compare_list{
    float: right;
}
.compare_item{
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 5px 15px;
    margin: 0 10px;
    height: 40px;
    position: relative;
}
.compare_item img{
    height: 100%;
    width: auto;
}
.compare_item .action_remove{
    background: none;
    border: 0;
    position: absolute;
    top: -7px;
    right: -7px;
    background: white;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
}
.fancybox-slide .modal_div{
    width: 1170px;
    min-height: 600px;
    padding: 50px;
}


.page_bk_reiting h1{text-align: left;}
.page_bk_reiting .title_block{
    text-align: left;
    margin: auto;
    line-height: 1.4;
}
.page_bk_reiting .border_bottom_line{
    border-bottom: 2px solid #009688;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.shild_page_list{margin: auto;}
.shild_page_list li{}
.shild_page_list.bukmekers_strany li a.vc_general.vc_btn3{
    font-size: 13px;
}
.shild_page_list li a.vc_general.vc_btn3{
    border-color: #666;
    border: 2px solid;
    color: #666;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
}
.shild_page_list li a.vc_general.vc_btn3:hover{
    color: #fff;
    background-color:  #666;
    border-color: #666;
}
.shild_page_list li a.vc_general.vc_btn3.active{
    color: #fff;
    border: 0;
    background-color: #009688;
    background-image: -webkit-linear-gradient(left,#009688 0,#1e73be 50%,#009688 100%);
    background-image: linear-gradient(to right,#009688 0,#1e73be 50%,#009688 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
}
.shild_page_list li a.vc_general.vc_btn3.active:hover{
    color: #fff;
    background-color: #1e73be;
    border: 0;
    background-position: 100% 0;
}
.list_filter_title_bk{
    display: inline-block;
    width: 100%;
}
.item_title_bk{
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 12px;
    margin-bottom: 10px;
}
.link_all_bk{
    color: #000;
    display: inline-block;
    margin-top: 15px;
}
body.td-animation-stack-type0 .td-animation-stack .entry-thumb, body.td-animation-stack-type0 .post images{
    opacity: 1;
}
.wpb_animate_when_almost_visible{
    opacity: 1;
}
/******/
.bk_table_list{
    text-align: center;
    margin-top: 25px;
}
.bk_table_list td{
    padding: 10px;
    text-align: center;
}
.img_tb_list{
    width: 30%;
}
.btn_tb_list , .btn_tb_list{ width: 25%; }
.bnt_bk_obzor{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #009688;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-weight: 500;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    display: inline-block;
    width: 125px;
    line-height: 1;
    text-align: center;
}
.bnt_bk_obzor:hover{
    background-color: #222222;    
}
.bnt_bk_site{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #222222;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-weight: 500;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    text-transform: uppercase;
}
.bnt_bk_site:hover{
    background-color: #009688;
}
.all_bk_list{
    display: block;
    text-align: left;
    color: #000;
}
.sorting_block{
    display: inline-block;
    width: 100%;
}
.sorting_block span{
    float: left;
}
.list_sort{
    float: right;
    max-width: 665px;
}
.item_sort{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 20px;
}
.radio_otz {display: none;     float: left;}

/**Compere List***/
.content_compare_b{
    display: inline-block;
    width: 25%;
    float: left;
}
.title_compare_b{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
}
.list_td{
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.item_td , .item_td_l{
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    float: left;
}
.item_td_l{text-align: center;
border-left: 1px solid #eee;}
.list_td .item_td:nth-child(odd), 
.item_compare_post .item_td_l:nth-child(odd){
    background: #ccc;
}
.item_td span{
    font-size: 16px;
}
.list_compare_post{
   display: inline-block;
   width: 75%;
}
.item_compare_post{
    display: inline-block;
    width: 50%;
    float: left;
}
.img_item_compare_post{
    display: block;
    margin: auto;
    text-align: center;
}
.img_item_compare_post img{
    height: 50px;
}
.title_item_compare_post{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #333;
}
.rate_bk{text-align: center;    margin-bottom: 17px;}
i.icon16, i.icon10 {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none!important;
    background-image: url(../img/icons.png);
    background-size: 260px 160px;
}
.icon16.star-half{
    background-position: -32px -16px;
}
.icon16.star{
    background-position: -16px -16px;
}
.icon16.star-empty{
    background-position: -48px -16px;
}
.item_td_m , .bk_all_raiting{
    display: none;
}
@media (max-width: 990px) {
    .fancybox-slide #compare_b{
       width: 90%;
       max-width: 320px;
       padding: 25px 15px;
    }
    #compare_b .fancybox-close-small:after{
        top: -3px;
        right: -3px;
    }
    .item_td , .bk_all_raiting{
        display: inline-block;
    }
    .content_compare_b{
        width: 55%;
    }
    .list_compare_post{
        width: 45%;
    }
    .rate_bk{
        display: none;
    }
    .list_td{
        margin-top: 20px;
    }
    .img_item_compare_post {
        margin-bottom: 16.6px;
        line-height: 1;
    }
    .img_item_compare_post img {
    height: 30px;
    width: auto;}
    .title_compare_b {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
    }
    .item_td span {
        font-size: 10px;
    }
    .item_td, .item_td_l{
        line-height: 1;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .bnt_bk_obzor , .bnt_bk_site{
        font-size: 9px;
        padding: 5px 10px;
        width: auto;
    }
    .bk_table_list td{
        padding: 10px 5px;
    }
    .btn_tb_list, .btn_tb_list{
        width: auto;
    }
    .compare_basket_active {
        position: fixed;
        display: inline-block;
        left: 0;
        bottom: 0;
        padding: 10px 25px;
    }
    .action_compare{
        line-height: 25px;
        height: 25px;
        padding: 0 15px;
        font-size: 10px;
    }
    .compare_item {
        padding: 5px 10px;
        margin: 0 11px;
        height: 25px;
    }
}